
.product-list{
    justify-content: center;
    display: flex;
    width: 100%;
}
table{
    text-align: center;
    color: rgb(7, 1, 12);
    border-collapse: collapse;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid rgb(7, 1, 12);
    padding: 10px;
    min-width: 160pxs;
}

button{
    cursor: pointer
}
.adjust-update-link
{
    margin-left: 10px;
}